<h1>StaticPages Contact</h1>
<p>I like to run and will provide some tips on shoes.</p>
<p>You can contact me via the form on this website.</p>
<p>Send me any questions you might have on running shoes!</p>
