<div class="container"> 
	<h1>Hello World!  Shoes!</h1>
	<p>The date and time is <%= Time.now %></p>
	<h1>Welcome to Nicola's Running Shoes</h1>
	<h2>A random source for running shoes!</h2>
	
	<%= image_tag("brooks shoe.jpg", class: "img-responsive") %>

</div>
