<h1>Index</h1>
<p>Hello World!  The date and time is <%= Time.now %></p>
<h1>Welcome to Running Shoes according to Nicola</h1>
<h2>A random source for running shoes!</h2>
<%= image_tag("brooks shoe.jpg", class: "img-responsive") %>
