<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you for your purchase.  Great choice, your feet will be happy!</p>
    <p><%= link_to "Back to Products", products_path %></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->