h1 {
	color: #d02090;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: justify;
}

.navbar-default {
	color: #d02090;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #cccccc;
}

img {
    width: 25%;
    height: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    color: #d02090;
    background-color: #cccccc;
}