.carousel-caption {
    color: black;
    padding: 150px;
}

.carousel-indicators {
    position: relative;
    background: black;
}

h1 {
	color: #d02090;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: justify;
}

.navbar-default {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #b0b0b0;
}

img {    
    max-width: 20px; 
    max-height: 200px;
    position: static;
}

footer {
    font-size: 12px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #b0b0b0;
}